body {
	background-color: #202020;
  color: #c0c0c0;
}

/* display */

#display {
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 120px;
  font-size: 40px;
  font-family: "Ubuntu Mono", Verdana, sans-serif;
}

.white-highlight { color: white; }
.pink-highlight { color: hsl(324, 100%, 50%); }
.orange-highlight { color: hsl(36, 100%, 50%); }
.yellow-highlight { color: hsl(60, 100%, 50%); }
.green-highlight { color: hsl(120, 100%, 50%); }
.blue-highlight { color: hsl(187.2, 100%, 50%); }
.violet-highlight { color: hsl(288, 83%, 50%); }

/* controls */

#tempoDisp {
  width: 60px;
  text-align: right;
  margin-right: 6px;
}

/*
formatting tips from Stephanie Eckles
https://moderncss.dev/custom-css-styles-for-form-inputs-and-textareas/
*/
input {
  margin-right: 6px;
  background-color: #202020;
  border: 1px solid hsl(0, 0%, 30%);
  border-radius: 4px;
  color: #c0c0c0;
  font-size: 11pt;
}

input[type=button]:hover {
  background-color: #303030;
}

input[type=button]:active, input[type=button].on {
  color: white;
  background-color: #404040;
  border-color: hsl(0, 0%, 40%);
}

.control-bar {
  display: flex;
  margin-bottom: 6px;
}

.control {
  margin: 0 12px 0 0;
  display: flex;
  align-items: center;
}

.control > input {
  margin-right: 6px;
}

.control > label {
  margin-right: 6px;
}

.control:not(:first-child) {
  border-left: 1px solid hsl(0, 0%, 30%);
  padding-left: 12px;
}
